PORT = 7001
DBNAME = 'w3f' 

#REDIS_HOST
REDIS_URL=redis://localhost:6379


# MongoDB
MONGO_URI=mongodb://localhost:27017/w3f

#github key
GITHUB_CLIENT_ID = 
GITHUB_CLIENT_SECRET = 
GITHUB_REDIRECT_URI = http://localhost:3000/logged
APPLICATIONS_REPO=/repos/w3f/Grants-Program/contents/applications
DELIVERIES_REPO=/repos/w3f/Grant-Milestone-Delivery/contents/deliveries
GIT_USER_DETAILS_URL=https://api.github.com/user


GITHUB_PULL_REQUEST_URL=https://github.com/w3f/Grants-Program
GITHUB_ACCESS_TOKEN_CLASSIC=
GITHUB_VERIFY_ACCESS_TOKEN_URL=https://github.com/login/oauth/access_token