PORT = ""
DBNAME = "" 

#REDIS_HOST
REDIS_URL=redis://localhost:6379


# MongoDB
MONGO_URI=mongodb://localhost:27017/"your-db-name"

#github key
GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""
GITHUB_REDIRECT_URI = ""
MAINREPO= ""
APPLICATIONS_REPO= ""
DELIVERIES_REPO= ""
GIT_RESPONSE_CODE_URL= ""


GITHUB_API_URL= ""
GITHUB_REPO_PATH=/repos/w3f/Grants-Program/pulls
GITHUB_ACCESS_TOKEN_CLASSIC= ""
GITHUB_ACCESS_TOKEN_URL= ""